<div class="container">
  <div class="sidebar">
    <button
      class="menu-item"
      [class.active]="isActive('cargar-candidatos')"
      (click)="cargarCandidatos()">
      Cargar Candidatos
    </button>
    <button
      class="menu-item"
      [class.active]="isActive('cargar-votantes')"
      (click)="cargarVotantes()">
      Cargar Votantes
    </button>
    <button
      class="menu-item"
      [class.active]="isActive('configurar-periodo')"
      (click)="configurarPeriodo()">
      Configurar Periodo
    </button>
    <button
      class="menu-item"
      [class.active]="isActive('cosnsultar-resultados')"
      (click)="consultarResultados()">
      Consultar Resultados
    </button>
    <button
      class="menu-item"
      [class.active]="isActive('simular-votacion')"
      (click)="simularVotacion()">
      Simular Votación
    </button>
      <button
      class="menu-item"
      [class.active]="isActive('simular-votacion')"
      (click)="cerrarVotacion()">
      Cerrar Votación
    </button>
  </div>

  <div class="main-content">
    <div class="header">
      <h2>Panel Administrador</h2>
      <div class="user-info">
        <span>(Admin){{ nombreUsuario }}</span>
        <button class="btn-cerrar" (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
    </div>

    <div class="logo-top">
      <img src="assets/th.webp" alt="Registraduría Nacional del Estado Civil" class="logo-circular">
    </div>

    <!-- Aquí se renderiza el contenido de cada página -->
    <router-outlet></router-outlet>
  </div>
</div>
