<div class="resultados-container">
  <div class="titulo">
    <div>Elecciones presidenciales {{ anio }}</div>
    <div style="margin-top: 4px;">Consultar Resultados</div>
  </div>
  @if (isPending) {
      <div class="mensaje-pendiente">
        La votación aún no se ha cerrado, por favor espere antes de consultar los resultados
      </div>
  }@else {
    <div id="chart">
      <apx-chart
        #chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!"
        [yaxis]="chartOptions.yaxis!"
        [fill]="chartOptions.fill!"
        [grid]="chartOptions.grid!"
        [title]="chartOptions.title!">
      </apx-chart>
    </div>
  }
   
