<div class="container">
  <div class="logo-top">
    <img src="assets/th.webp" alt="Registraduría Nacional del Estado Civil" class="logo-circular">
  </div>

  <div class="login-box">
    <h2>Inicio de Sesión</h2>

    <!-- Selector de perfil -->
    <div class="form-group switch-group">
      <label class="switch-label">Perfil:</label>
      <div class="role-switch">
        <input type="radio" id="rolVotante" name="rol" [(ngModel)]="rolSeleccionado" [value]="'votante'" class="switch-radio" />
        <label for="rolVotante" class="switch-btn">Votante</label>
        <input type="radio" id="rolAdmin" name="rol" [(ngModel)]="rolSeleccionado" [value]="'admin'" class="switch-radio" />
        <label for="rolAdmin" class="switch-btn">Administrador</label>
      </div>
    </div>

    <div class="form-group">
      <label>Usuario:</label>
      <input
        type="text"
        [(ngModel)]="usuario"
        placeholder="Ingrese su usuario"
        class="input-field">
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input
        type="password"
        [(ngModel)]="contrasena"
        placeholder="Ingrese su contraseña"
        class="input-field">
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <button (click)="iniciarSesion()" class="btn-login">Iniciar Sesión</button>
  </div>
</div>
